.membership{
    height:50vh;
    width: 100%;
    background-image: url(membership4.webp);
    background-size: cover;
    background-position: center;
   
}
.head1{
    display: flex;
    justify-content:space-around;
    
    align-items:flex-start;
    padding: 140px;
    
    flex-direction: column;
}
.head1 h2{
    color: rgb(225,94,23);
    padding-top: 10px;
}
.head1 h1{
    color: aliceblue;
}
.membership h1{
    color: white;
    margin-bottom: 10px;
    font-size: 40px;
    font-style: oblique;

}
.membership h2{
    color:rgb(225,94,23);
    font-style: oblique;
}
.membershipbox{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(25,25,24);
}
.uphead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.uphead h1{
    color: whitesmoke;
    font-size: 50px;
}
.uphead h2{
    color: rgb(225,94,23);
}
.package{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.silver{
    height: 70vh;
    width: 350px;
    background-color: rgb(42,42,42);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.liner{
    height: 5px;
    width: 200px;
    background-color: rgb(225,94,23);
}
.silver h1{
    font-size: 60px;
}
.silh1{
    color: white;
}
.start button{
    height:50px;
    width: 180px;
    font-size: larger;
    color: white;
    background-color: rgb(225,94,23);
    border-radius: 15px;
}
.start button:hover{
    color:  rgb(225,94,23);
    background-color:rgb(42,42,42);
    border:2px solid rgb(225,94,23) ;
}
.free{
    /* position: relative; */
    height: 20vh;
    width:180px;
    background-color:rgb(25,25,24);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 15px;
    padding: 5px;
}
.free h1{
    color: rgb(225,94,23);
}
.free h2{
    font-size: large;
}
.given{
    display: flex;
    width: 210px;
    flex-direction: column;
    color: rgb(208,207,208);
    padding-left: 35px;
    gap: 5px;
    
}
.given h2{
    font-size: large;
    font-weight: 100;
 
}
.gold{
    height: 50vh;
    width: 350px;
    background-color: aquamarine;
    border-radius: 15px;
}
.diamond{
    height: 50vh;
    width: 350px;
    background-color: aquamarine;
    border-radius: 15px;
}

.lining{
    margin: 5vh;
    /* position:absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 300px;
    border-top: 7px solid red;
    border-bottom: 7px solid red;
    border-color: rgb(225,94,23);
}